@page "/"

<PageTitle>Inicio</PageTitle>

<center>
<h3>Bienvenido a IncidenteYa</h3>
<b>
<p>En esta página encontrarás un dashboard de los accidentes activos y podrás registar accidentes de tráfico.</p>
</b>
</center>