@page "/MoreInfo"

<PageTitle>Info</PageTitle>

<center>
<h3>Acerca del desarrollador.</h3>
<p>Saludos, mi nombre es Brander B치ez Melo. Soy el desarrollador de esta p치gina web, espero le haya gustado.</p>

<div class="image-container">
    <img src="images/Mifoto.jpeg" alt="Mifoto" class="centered-image">
</div>

<br>
<p>Esta p치gina de accidentes es una prueba utilizando Blazor, esta le permitir치 introducir nuevos datos, borrar, editar e imprimir. <br>Todo esto utilizando los serviciso del localStorage.</p>
<br>

<img src = "https://c.tenor.com/vYr3bAO_FmcAAAAC/tenor.gif" height = "150">

</center>

