@page "/Register"
@inject NavigationManager NavMan
@rendermode InteractiveServer
@using System.Text.Json
@inject IJSRuntime JSx

<PageTitle>Registrar</PageTitle>

<center>
<h3>Accidentes registrados</h3>

<table class = "table table-hover">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Register in Registers){

            <tr>
                <td>@Register.Fecha</td>
                <td>@Register.Descripcion</td>
            </tr>
        }
    </tbody>
</table>

<div class = "text-end">
<center>

    <button class = "btn btn-primary" @onclick = "N_Registro">Registrar accidente</button>

</center>
</div>




@code{

    List<Reporte> Registers = new List<Reporte>();

    private void N_Registro(){

        NavMan.NavigateTo("Register/nuevo");
    }


    protected override async Task OnAfterRenderAsync(bool firstRender){

        if (firstRender){

            //Accede al localStorage.
            var Jsonregisters = await JSx.InvokeAsync<string>("localStorage.getItem", "Registers");

            if (Jsonregisters != null){

                Registers = JsonSerializer.Deserialize<List<Reporte>>(Jsonregisters);
                StateHasChanged();
            }
        }
    }
}





</center>